<div id="main" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div id="head">
    <h1 class="title">prelinger pane</h1>
  </div>

  <div id="nowplaying">
    <h2 class="title">now playing</h2>

    <p class="logtypes">
      <%= @now_playing.title %>
    </p>

    <p class="logtypes">
      <%= @now_playing.description %>
    </p>

    <p class="logtypes">
      <%= @now_playing.creator %>
    </p>
    <p class="logtypes">
      "PID = <%= @pid %>"
    </p>
  </div>

  <div id="find">
    <h2 class="title">find something to watch</h2>

      <form method="POST" action="/index" class="logtypes">
        name:
        <input type="text" name="searchstring" placeholder="Optional search" autofocus="autofocus"/>
        <br/>
        <input type="submit" id="search" value="Search"/>
      </form>

    <ul>
        <% @query_results.each do |result| %>
          <li>
            <p class="logtypes">
              <a href="<%= result.url %>" target="_blank"><%= result.title %></a>
              </br>
              <%= result.description %>
            </p>
          </li>
        <% end %>
    </ul>

  </div>

  <div id="results">
    <h2 class="title">results</h2>

    <form method="POST" action="/play" class="logtypes">
      <h2 class="logtypes">play</h2>
      <ul>
        <% indexes = (0..(@query_results.length - 1)).to_a %>
        <% query_results_hash = Hash[indexes.zip @query_results] %>
        <% video_results = ["Placeholder 1", "Placeholder 2", "Placeholder 3"] %>
        <% query_results_hash.each_pair do |index, result| %>
            <li>
              <input type="radio" name = "playchoice" value="<%= index %>"/>
              <%= result.title %>
            </li>
        <% end %>
      </ul>
      <input type="submit" id="play" value="Play one" />
    </form>

    <form method="POST" action="/save" class="logtypes">
      <h2 class="logtypes">save</h2>
      <ul>
        <% indexes = (0..(@query_results.length - 1)).to_a %>
        <% query_results_hash = Hash[indexes.zip @query_results] %>
        <% query_results_hash.each_pair do |index, result| %>
            <li>
              <input type="checkbox" name = "savechoice[]" value="<%= index %>" />
              <%= result.title %>
            </li>
        <% end %>

      </ul>
        <input type="submit" id="save" value="Save selected" />
    </form>

  </div>

</div>
