<div id="main">
  <div id="head">
    <h1 class="title">prelinger local files to play</h1>
  </div>

  <div id="nowplaying">
    <h2 class="title">now playing</h2>

    <p class="logtypes">
      <%= @now_playing.title %>
    </p>

    <p class="logtypes">
      <%= @now_playing.description %>
    </p>

    <p class="logtypes">
      <%= @now_playing.creator %>
    </p>
  </div>

  <div id="filelist">

  <form method="POST" action="/play" class="logtypes">
    <h2 class="logtypes">play a local file</h2>
    <ul>
      <% indexes = (0..(@query_results.length - 1)).to_a %>
      <% query_results_hash = Hash[indexes.zip @query_results] %>
      <% video_results = ["Placeholder 1", "Placeholder 2", "Placeholder 3"] %>
      <% query_results_hash.each_pair do |index, result| %>
          <li>
            <input type="radio" name = "playchoice" value="<%= index %>"/>
            <%= result.title %>
          </li>
      <% end %>
    </ul>
    <input type="submit" id="play" value="Play one" />
  </form>





  </div>
</div>